:root {
  --spider--transition-duration: 1s;
  --spider--arrow-button-size: 42px;
  --spider--arrow-size: 10px;
  --spider--arrow-color: #fff;
  --spider--dots-gap: 10px;
  --spider--dot-size: 8px;
  --spider--dot-color: #ccc;
  --spider--dot-current-color: #333;
}

.spider {
  position: relative;
}

.spider__reference {
  box-sizing: border-box !important;
}

.spider__canvas {
  --spider--canvas-width: var(--spider-canvas-width); // @deprecated
  --spider--reference-width: var(--spider-reference-width); // @deprecated

  overflow-scrolling: touch;
  overflow: scroll hidden;
  display: flex;
  box-sizing: content-box !important;
  width: var(--spider--canvas-width);

  -ms-overflow-style: none;  // For IE and Edge
  scrollbar-width: none;  // For Firefox

  &::-webkit-scrollbar {
    display: none;  // For Chrome and Safari
  }

  &.is-dragging {
    a {
      pointer-events: none;
    }
  }
}

.spider__slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start !important;
	flex: 1 0 100% !important;
  max-width: 100%;
  opacity: 0;

  &[data-visible="true"] {
    opacity: 1;
  }
}

.spider__figure {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: none;
}

.spider__arrows {
  pointer-events: none;
  display: flex;
  justify-content: space-between;

  .spider__arrow {
    pointer-events: initial;
  }
}

.spider > .spider__arrows {
  position: absolute;
  top: calc(50% - var(--spider--arrow-button-size) / 2);
  left: 0;
  right: 0;
  z-index: 1;
}

.spider__arrow {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 0 !important;
  line-height: 0 !important;
  height: var(--spider--arrow-button-size);
  width: var(--spider--arrow-button-size);
  padding: 0;
  cursor: pointer;
  outline: none;

  &::before {
    position: absolute;
    content: '';
    display: block;
    height: var(--spider--arrow-size);
    width: var(--spider--arrow-size);
  }

  &:active {
    filter: brightness(80%);
  }

  &[data-direction="prev"] {
    left: 0;

    &::before {
      top: calc(50% - var(--spider--arrow-size) / 2);
      left: calc(50% - var(--spider--arrow-size) / 2);
      border-bottom: 1px solid var(--spider--arrow-color);
      border-left: 1px solid var(--spider--arrow-color);
      transform: rotate(45deg);
    }
  }

  &[data-direction="next"] {
    right: 0;

    &::before {
      right: calc(50% - var(--spider--arrow-size) / 2);
      bottom: calc(50% - var(--spider--arrow-size) / 2);
      border-top: 1px solid var(--spider--arrow-color);
      border-right: 1px solid var(--spider--arrow-color);
      transform: rotate(45deg);
    }
  }
}

.spider > .spider__arrow {
  position: absolute;
  z-index: 1;
  top: calc(50% - var(--spider--arrow-button-size) / 2);
}

.spider__dots {
  display: flex;
  gap: var(--spider--dots-gap);
  justify-content: center;

  .spider + & {
    margin-top: 1em;
  }

  &[data-thumbnails="true"] {
    .spider__dot {
      > .spider__figure {
        width: 100%;
      }
    }
  }

  &:not([data-thumbnails="true"]) {
    .spider__dot {
      background-color: var(--spider--dot-color);
      border-radius: 100%;
      font-size: 0;
      line-height: 0;
      height: var(--spider--dot-size);
      width: var(--spider--dot-size);

      &[aria-current="true"] {
        background-color: var(--spider--dot-current-color);
      }
    }
  }
}

.spider__dot {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

[data-fade="true"] {
  --spider--transition-duration: .2s;

  .spider__canvas {
    position: relative !important;
    overflow-x: hidden;
  }

  .spider__slide {
    position: relative !important;
    max-width: 100% !important;
    width: 100% !important;
    transition-duration: var(--spider--transition-duration);
    transition-property: opacity, visibility;
    transition-timing-function: ease-in;

    &[data-active="true"] {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }
}
